
:root{
    --main-color: #4CAF50;
    --secondary-color: #df1406;
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: var(--main-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 20px;
}
h1, h2 {
    color: var(--main-color);
}
p {
    line-height: 1.6;
}               
footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}       
footer p {
    margin: 0;
}
section{
    background-color: rgb(238, 236, 231);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/* Background for questions first 1s */
.internet{
    background-color: rgb(221, 219, 219);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.internet:hover{
    background-color: rgb(255, 179, 179);
    border: solid red 2px;
    cursor:pointer;
}

 
.question-row {
    display: flex;
    align-items: flex-start;
    gap: 30px; /* space between heading and list */
}
 
 
 
.qs{
    
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 30px;
   
}
 
div.question-row{
    background-color: rgb(221, 219, 219);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 200px;
    height: 200px;
}
 div.question-row:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: rgb(179, 255, 179);
    display:flex;
    width: 16%;
    height:100%;
    flex-direction: column-reverse;
    justify-content: center;
    
}
/* Style the quesion box */
.question-row p{    
    font-size: 40px;
    color:green;
    font-weight: bold; 
}
/* Background for questions */
ol.q2{
    background-color: rgb(172, 36, 36);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
    font-size: large;
}
/*Hover effect for answers */
.answer {
    opacity: 0;
    transition: opacity 0.3s;
}

.answer:hover {
    opacity: 1;
}
.internet:hover .answer {
    opacity: 1;
    color:blue;
}